<div class="container" fxLayout="row wrap">
  <h2 fxLayout="column" fxFlex>Items</h2>
  <app-item-search fxLayout="column" fxFlex></app-item-search>
</div>


<mat-grid-list gutterSize="15px" [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let item of items">
    <a routerLink="/detail/{{item.id}}">
      <div class="container">
        <h3>{{item.name | titlecase}}</h3>
        <img src="{{item.visualLink}}" width="300" height="300" alt="visual of the product"/>
        <p class="price">
          Price: {{item.price | currency}}
          <span class="stock-amount" *ngIf="item.amount<5" style="color: red;">Stock: {{item.amount}}</span>
          <span class="stock-amount" *ngIf="item.amount<10 && item.amount >= 5"
                style="color: orange;">Stock: {{item.amount}}</span>
          <span class="stock-amount" *ngIf="item.amount>=10" style="color: green;">Stock: {{item.amount}}</span>
        </p>
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<button routerLink="/new">Add an item</button>
