/* ItemComponent's private CSS styles */

.mat-grid-list a{
  text-decoration: none;
}

.mat-grid-list{
  margin: auto 15px;
}

.mat-grid-tile {
  background-color: rgba(51,102,153, 0.01);
  cursor: pointer;
}

.mat-grid-tile:hover{
  background-color: rgba(51,102,153, 0.1);
}

.mat-grid-tile h3 {
  text-align: center;
}

.stock-amount {
  float: right;
}

h2 {
  margin: 10px 0 10px 20px;
}

.container {
  justify-content: space-between;
}
