<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName"
           required formControlName="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName"
           required formControlName="lastName">
  </div>

  <div class="form-group">
    <label for="email">Mail</label>
    <input type="email" class="form-control" id="email"
           required formControlName="email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
           required formControlName="password">
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone</label>
    <input type="text" class="form-control" id="phoneNumber"
           required formControlName="phoneNumber">
  </div>
  <div class="form-group" formGroupName="address">
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street"
             required formControlName="street">
    </div>
    <div class="form-group">
      <label for="streetNumber">Street Number</label>
      <input type="text" class="form-control" id="streetNumber"
             required formControlName="streetNumber">
    </div>
    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input type="text" class="form-control" id="postalCode"
             required formControlName="postalCode">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city"
             required formControlName="city">
    </div>
  </div>
  <div id="button-container">
    <button id="create" class="button" type="submit">Create</button>
    <input id="cancel" class="button" type="reset" value="Cancel">
  </div>

</form>
