<mat-card *ngIf="item">
  <mat-card-header>
    <h1>{{item.name}}</h1>
  </mat-card-header>
  <div class="container">
    <div class="visual-content">
      <img src="{{item.visualLink}}" width="600" height="auto" alt="visual of the product"/>
    </div>
    <div class="textual-content">
      <mat-card-content>
        <span>{{item.price | currency}}</span>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/update/{{item.id}}">update</button>
        <button (click)="goBack()">go back</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
