<div *ngIf="item">
  <h2>{{item.name | uppercase}}</h2>
  <img src="{{item.coverLink}}" width="300" height="auto" alt="cover"/>
  <p>
    <span>This album is currently sold at {{item.price}} €</span><br/>
    <span>{{item.description}}</span><br/>
    <span>We have {{item.amount}} pieces in stock.</span>
  </p>
  <div>
    <label>Buy:
      <input [(ngModel)]="item.amount" placeholder="amount"/>
    </label>
  </div>
  <button routerLink="/update/{{item.id}}">update</button>
  <button (click)="goBack()">go back</button>
</div>
