<mat-card *ngIf="item">
  <div class="container" fxLayout="row wrap">
    <div class="visual-content" fxLayout="column" fxFlex>
      <img src="{{item.visualLink}}" width="600" height="auto" alt="visual of the product"/>
    </div>
    <div class="textual-content" fxLayout="column" fxFlex>
      <h1>{{item.name}}</h1>
      <mat-card-content>
        <h2>Description:</h2>
        <p>{{item.description}}</p>
        <span>Price: {{item.price | currency}}</span>
        <br/>
        <span>Current stock: {{item.amount}}</span>
      </mat-card-content>
      <mat-card-actions>
        <!--<button id="buy" (click)="buy()">Buy</button>
        <br/>-->
        <button routerLink="/update/{{item.id}}">update</button>
        <br/>
        <button (click)="goBack()">go back</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
