/* ItemDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #eee;
  min-width: 150px;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #369;
  color: white;
}
button#buy:hover {
  background-color: forestgreen;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.container > div {
  margin-right: 15px;
}

.container .visual-content img {
  margin: 0 auto;
}
